# Phase 3 Project - Draft Outline

## 1. Project Setup
- Import necessary libraries (pandas, numpy, sklearn, matplotlib, seaborn)
- Load the dataset
- Set random seed for reproducibility

## 2. Data Exploration and Preprocessing
- Examine the dataset (head, info, describe)
- Check for missing values and handle them
- Explore data distributions and correlations
- Perform feature engineering if necessary
- Split the data into features (X) and target variable(s) (y)
- Split into training and testing sets

## 3. Multiple Linear Regression
- Prepare the data (normalize/standardize if needed)
- Create and train the model
- Make predictions on the test set
- Evaluate the model (R-squared, MSE, RMSE)
- Analyze coefficients and their significance
- Visualize results

## 4. Logistic Regression
- Prepare the data (ensure binary target variable)
- Create and train the model
- Make predictions on the test set
- Evaluate the model (accuracy, precision, recall, F1-score)
- Plot the ROC curve and calculate AUC
- Analyze coefficients and their significance

## 5. Decision Trees
- Prepare the data
- Create and train the model
- Make predictions on the test set
- Evaluate the model (accuracy, precision, recall, F1-score)
- Visualize the tree structure
- Analyze feature importance

## 6. Model Comparison
- Compare performance metrics across all models
- Discuss strengths and weaknesses of each approach
- Recommend the best model(s) for the problem at hand

## 7. Conclusion and Future Work
- Summarize key findings
- Discuss limitations of the current approach
- Suggest potential improvements or additional models to try

## Student details
xxx

## Business Problem

xxxxxxx

## 1. Project Setup
- Import necessary libraries (pandas, numpy, sklearn, matplotlib, seaborn)
- Load the dataset

In [2]:
#import neccessary libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
#Load training dataset
sub_df = pd.read_csv('./SubmissionFormat.csv',index_col=0)
training_df = pd.read_csv('./TrainingSetValues.csv',index_col=0)
test_df = pd.read_csv('./TestSetValues.csv',index_col=0)
t_label_df = pd.read_csv('TrainingSetLabels.csv',index_col=0)

## 2. Data Exploration and Preprocessing
- Examine the dataset (head, info, describe)
- Check for missing values and handle them
- Explore data distributions and correlations
- Perform feature engineering if necessary
- Split the data into features (X) and target variable(s) (y)
- Split into training and testing sets

In [7]:
# Function to display dataset info
def display_dataset_info(df, name):
    print(f"\n=== {name} ===")
    print(f"Shape: {df.shape}")
    print("\nHead:")
    print(df.head())
    print("\nInfo:")
    print(df.info())
    print("\nDescription:")
    print(df.describe())
    print("\n" + "="*40)

# Display info for each dataset
display_dataset_info(sub_df, "Submission Format")
display_dataset_info(training_df, "Training Set Values")
display_dataset_info(test_df, "Test Set Values")
display_dataset_info(t_label_df, "Training Set Labels")

=== Submission Format ===
Shape: (14850, 1)

Head:
          status_group
id
50785  predicted label
51630  predicted label
17168  predicted label
45559  predicted label
49871  predicted label

Info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14850 entries, 50785 to 68707
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   status_group  14850 non-null  object
dtypes: object(1)
memory usage: 232.0+ KB
None

Description:
           status_group
count             14850
unique                1
top     predicted label
freq              14850

========================================

=== Training Set Values ===
Shape: (59400, 39)

Head:
       amount_tsh date_recorded        funder  gps_height     installer  \
id
69572      6000.0    2011-03-14         Roman        1390         Roman
8776          0.0    2013-03-06       Grumeti        1399       GRUMETI
34310        25.0    2013-02-25  Lottery Club         686  World vision
67743         0.0    2013-01-28        Unicef         263        UNICEF
19728         0.0    2011-07-13   Action In A           0       Artisan

       longitude   latitude              wpt_name  num_private  \
id
69572  34.938093  -9.856322                  none            0
8776   34.698766  -2.147466              Zahanati            0
34310  37.460664  -3.821329           Kwa Mahundi            0
67743  38.486161 -11.155298  Zahanati Ya Nanyumbu            0
19728  31.130847  -1.825359               Shuleni            0

                         basin  ... payment_type water_quality  quality_group  \
id                              ...
69572               Lake Nyasa  ...     annually          soft           good
8776             Lake Victoria  ...    never pay          soft           good
34310                  Pangani  ...   per bucket          soft           good
67743  Ruvuma / Southern Coast  ...    never pay          soft           good
19728            Lake Victoria  ...    never pay          soft           good

           quantity quantity_group                source  \
id
69572        enough         enough                spring
8776   insufficient   insufficient  rainwater harvesting
34310        enough         enough                   dam
67743           dry            dry           machine dbh
19728      seasonal       seasonal  rainwater harvesting

                source_type source_class              waterpoint_type  \
id
69572                spring  groundwater           communal standpipe
8776   rainwater harvesting      surface           communal standpipe
34310                   dam      surface  communal standpipe multiple
67743              borehole  groundwater  communal standpipe multiple
19728  rainwater harvesting      surface           communal standpipe

      waterpoint_type_group
id
69572    communal standpipe
8776     communal standpipe
34310    communal standpipe
67743    communal standpipe
19728    communal standpipe

[5 rows x 39 columns]

Info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 69572 to 26348
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59400 non-null  float64
 1   date_recorded          59400 non-null  object
 2   funder                 55765 non-null  object
 3   gps_height             59400 non-null  int64
 4   installer              55745 non-null  object
 5   longitude              59400 non-null  float64
 6   latitude               59400 non-null  float64
 7   wpt_name               59400 non-null  object
 8   num_private            59400 non-null  int64
 9   basin                  59400 non-null  object
 10  subvillage             59029 non-null  object
 11  region                 59400 non-null  object
 12  region_code            59400 non-null  int64
 13  district_code          59400 non-null  int64
 14  lga                    59400 non-null  object
 15  ward                   59400 non-null  object
 16  population             59400 non-null  int64
 17  public_meeting         56066 non-null  object
 18  recorded_by            59400 non-null  object
 19  scheme_management      55523 non-null  object
 20  scheme_name            31234 non-null  object
 21  permit                 56344 non-null  object
 22  construction_year      59400 non-null  int64
 23  extraction_type        59400 non-null  object
 24  extraction_type_group  59400 non-null  object
 25  extraction_type_class  59400 non-null  object
 26  management             59400 non-null  object
 27  management_group       59400 non-null  object
 28  payment                59400 non-null  object
 29  payment_type           59400 non-null  object
 30  water_quality          59400 non-null  object
 31  quality_group          59400 non-null  object
 32  quantity               59400 non-null  object
 33  quantity_group         59400 non-null  object
 34  source                 59400 non-null  object
 35  source_type            59400 non-null  object
 36  source_class           59400 non-null  object
 37  waterpoint_type        59400 non-null  object
 38  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(6), object(30)
memory usage: 18.1+ MB
None

Description:
          amount_tsh    gps_height     longitude      latitude   num_private  \
count   59400.000000  59400.000000  59400.000000  5.940000e+04  59400.000000
mean      317.650385    668.297239     34.077427 -5.706033e+00      0.474141
std      2997.574558    693.116350      6.567432  2.946019e+00     12.236230
min         0.000000    -90.000000      0.000000 -1.164944e+01      0.000000
25%         0.000000      0.000000     33.090347 -8.540621e+00      0.000000
50%         0.000000    369.000000     34.908743 -5.021597e+00      0.000000
75%        20.000000   1319.250000     37.178387 -3.326156e+00      0.000000
max    350000.000000   2770.000000     40.345193 -2.000000e-08   1776.000000

        region_code  district_code    population  construction_year
count  59400.000000   59400.000000  59400.000000       59400.000000
mean      15.297003       5.629747    179.909983        1300.652475
std       17.587406       9.633649    471.482176         951.620547
min        1.000000       0.000000      0.000000           0.000000
25%        5.000000       2.000000      0.000000           0.000000
50%       12.000000       3.000000     25.000000        1986.000000
75%       17.000000       5.000000    215.000000        2004.000000
max       99.000000      80.000000  30500.000000        2013.000000

========================================

=== Test Set Values ===
Shape: (14850, 39)

Head:
       amount_tsh date_recorded                  funder  gps_height  \
id
50785         0.0    2013-02-04                    Dmdd        1996
51630         0.0    2013-02-04  Government Of Tanzania        1569
17168         0.0    2013-02-01                     NaN        1567
45559         0.0    2013-01-22              Finn Water         267
49871       500.0    2013-03-27                  Bruder        1260

        installer  longitude   latitude                 wpt_name  num_private  \
id
50785        DMDD  35.290799  -4.059696  Dinamu Secondary School            0
51630         DWE  36.656709  -3.309214                  Kimnyak            0
17168         NaN  34.767863  -5.004344           Puma Secondary            0
45559  FINN WATER  38.058046  -9.418672           Kwa Mzee Pange            0
49871      BRUDER  35.006123 -10.950412          Kwa Mzee Turuka            0

                         basin  ... payment_type water_quality  quality_group  \
id                              ...
50785                 Internal  ...    never pay          soft           good
51630                  Pangani  ...    never pay          soft           good
17168                 Internal  ...    never pay          soft           good
45559  Ruvuma / Southern Coast  ...      unknown          soft           good
49871  Ruvuma / Southern Coast  ...      monthly          soft           good

           quantity quantity_group                source  \
id
50785      seasonal       seasonal  rainwater harvesting
51630  insufficient   insufficient                spring
17168  insufficient   insufficient  rainwater harvesting
45559           dry            dry          shallow well
49871        enough         enough                spring

                source_type source_class     waterpoint_type  \
id
50785  rainwater harvesting      surface               other
51630                spring  groundwater  communal standpipe
17168  rainwater harvesting      surface               other
45559          shallow well  groundwater               other
49871                spring  groundwater  communal standpipe

      waterpoint_type_group
id
50785                 other
51630    communal standpipe
17168                 other
45559                 other
49871    communal standpipe

[5 rows x 39 columns]

Info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14850 entries, 50785 to 68707
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             14850 non-null  float64
 1   date_recorded          14850 non-null  object
 2   funder                 13981 non-null  object
 3   gps_height             14850 non-null  int64
 4   installer              13973 non-null  object
 5   longitude              14850 non-null  float64
 6   latitude               14850 non-null  float64
 7   wpt_name               14850 non-null  object
 8   num_private            14850 non-null  int64
 9   basin                  14850 non-null  object
 10  subvillage             14751 non-null  object
 11  region                 14850 non-null  object
 12  region_code            14850 non-null  int64
 13  district_code          14850 non-null  int64
 14  lga                    14850 non-null  object
 15  ward                   14850 non-null  object
 16  population             14850 non-null  int64
 17  public_meeting         14029 non-null  object
 18  recorded_by            14850 non-null  object
 19  scheme_management      13881 non-null  object
 20  scheme_name            7758 non-null   object
 21  permit                 14113 non-null  object
 22  construction_year      14850 non-null  int64
 23  extraction_type        14850 non-null  object
 24  extraction_type_group  14850 non-null  object
 25  extraction_type_class  14850 non-null  object
 26  management             14850 non-null  object
 27  management_group       14850 non-null  object
 28  payment                14850 non-null  object
 29  payment_type           14850 non-null  object
 30  water_quality          14850 non-null  object
 31  quality_group          14850 non-null  object
 32  quantity               14850 non-null  object
 33  quantity_group         14850 non-null  object
 34  source                 14850 non-null  object
 35  source_type            14850 non-null  object
 36  source_class           14850 non-null  object
 37  waterpoint_type        14850 non-null  object
 38  waterpoint_type_group  14850 non-null  object
dtypes: float64(3), int64(6), object(30)
memory usage: 4.5+ MB
None

Description:
          amount_tsh    gps_height     longitude      latitude   num_private  \
count   14850.000000  14850.000000  14850.000000  1.485000e+04  14850.000000
mean      322.826983    655.147609     34.061605 -5.684724e+00      0.415084
std      2510.968644    691.261185      6.593034  2.940803e+00      8.167910
min         0.000000    -57.000000      0.000000 -1.156459e+01      0.000000
25%         0.000000      0.000000     33.069455 -8.443970e+00      0.000000
50%         0.000000    344.000000     34.901215 -5.049750e+00      0.000000
75%        25.000000   1308.000000     37.196594 -3.320594e+00      0.000000
max    200000.000000   2777.000000     40.325016 -2.000000e-08    669.000000

        region_code  district_code    population  construction_year
count  14850.000000   14850.000000  14850.000000       14850.000000
mean      15.139057       5.626397    184.114209        1289.708350
std       17.191329       9.673842    469.499332         955.241087
min        1.000000       0.000000      0.000000           0.000000
25%        5.000000       2.000000      0.000000           0.000000
50%       12.000000       3.000000     20.000000        1986.000000
75%       17.000000       5.000000    220.000000        2004.000000
max       99.000000      80.000000  11469.000000        2013.000000

========================================

=== Training Set Labels ===
Shape: (59400, 1)

Head:
         status_group
id
69572      functional
8776       functional
34310      functional
67743  non functional
19728      functional

Info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 69572 to 26348
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   status_group  59400 non-null  object
dtypes: object(1)
memory usage: 928.1+ KB
None

Description:
       status_group
count         59400
unique            3
top      functional
freq          32259

========================================

In [ ]:
#check for missing values